@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
* {
    margin: 0px;
}
.principal{
    margin: 14px auto 0px auto;
    background-color: #820AD1;
    height: 300px;
    width: 190px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
    border-radius: 10px;
    
}
body {
    background-color: rgba(192, 197, 197, 0.911);
}
img {
    width: 70px;
    height: 70px;
}
p {
    font-family: 'Abel', sans-serif;
    color: white;
    font-weight: lighter;
    padding: 7px;
    font-size: 0.7em;
    margin: 114px 0px 0px 13px;
}
.mastercard {
   width: 60px;
   height: 60px;
   margin: 10px 0px 0px 5px;
}
.chip {
    width: 45px;
    height: 57px;

}
.nubank {
    margin:13px 0px 0px 5px;
}
.inline {
    display: inline-block;
} 

.principal:hover {
    cursor: pointer;
    transition-duration: 0.2s;
    border-bottom: 4px solid rgba(0, 0, 0, 0.26);
    border-right: 4px solid rgba(0, 0, 0, 0.26);;
    
}
a {
    text-decoration: none;
}

